:root {
  --item-border-radius: 0.25rem;
  --element-border-radius: 1.25rem;
  --bg-text: #e2c8a3;
  --text-color: #2e2010;
  --text-weak: #735936;
  --border-dark: #735936;
  --border-light: #c3a983;
}