:root {
  --item-border-radius: 0.25rem;
  --element-border-radius: 1.25rem;
  --bg-text: #070b2e;
  --text-color: #f6d2b4;
  --text-weak: #fb8585;
  --border-dark: #4a3b80;
  --border-light: #ca67ac;
}